{% extends "toppings.html" %}
{% block content %}

    <body>
        <div class="container-lg">
            <div class="row fadeIn">
                <div class="col-4 offset-3">
                    <div class="mt-4">
                        <h2>Topping Name:</h2>
                    </div>
                    <div class="text-start mt-4">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.name_topping }}
                        <div class="text-start mt-4 pb-5">
                        <button type="submit" class="btn btn-outline-dark">Delete topping</button>
                        </div>
                    </form>
                        {{ info }}
                    </div>
                </div>
            </div>
        </div>

    </body>
{% endblock %}