<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
    <body>
    <h1>Cart</h1>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>Pizza title</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Size</th>
                <th>Total Pizza Price</th>
            </tr>
            </thead>
            <tbody>
                {% for order_pizza in cart.pizzas.all %}
            <tr>
                <th>{{ forloop.counter }}</th>
                <th>{{ order_pizza.pizza_order.name }}</th>
                <th>{{ order_pizza.pizza_order.price }}zł</th>
                <th>{{ order_pizza.quantity }}</th>
                <th>{{ order_pizza.pizza_order.size }}</th>
                <th>
                    {{ order_pizza.get_total_pizza_order_price }}zł
                </th>
            </tr>
                {% endfor %}
            <tr>
                <td colspan="5"><b>Order Total</b></td>
                <td><b>{{ total }}zł</b></td>
            </tr>
            </tbody>
        </table>
            <p>Klient: {{ user.username }}<br></p>
            <p>Data zamówienia: {{ cart.ordered_date }}</p>
            <p>Adres: {{ cart.billing_address.street_address }}</p>
            <p>Adres dowozu: {{ cart.billing_address.apartment_address }}</p>
            <p>Numer telefonu: {{ cart.billing_address.phone_number }}</p>
            <p>Dodatkowe informacje: {{ cart.billing_address.additional_information }}</p>
    </body>
</html>

