{% extends "toppings.html" %}
{% block content %}

    <body>
        <div class="container-lg">
            <div class="row fadeIn">
                <div class="col-4 offset-3">
                    <div class="mt-4">
                    <h2>Add topping</h2>
                    </div>
                    <div class="text-start mt-4">
                        <form method="post">
                            {% csrf_token %}
                            <label for="name" class="form-label">Name of topping:</label>
                                <input type="text" name="name_topping" class="form-control" id="name" placeholder="eg. onion">
                            <div class="mt-4">
                            <label for="price" class="form-label">Price in zł:</label>
                                <input type="number" step="0.01" name="price" class="form-control" id="price" placeholder="eg. 5.00zł">
                            </div>
                            <div class="text-start mt-4 pb-5">
                                <button type="submit" class="btn btn-outline-dark">Add topping</button>
                            </div>
                            {{ info }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}
